<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_gazebo">

	<xacro:macro name="gazebo_wheel_surface" params="link_name">
		<gazebo reference="${link_name}">
			<material>Gazebo/DarkGrey</material>
			<fdir1>1 0 0</fdir1>
			<mu1>2.0</mu1>
			<mu2>1.5</mu2>
			<slip1>0.0</slip1>
			<slip2>0.03</slip2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<selfCollide>false</selfCollide>
		</gazebo>
	</xacro:macro>

	<xacro:macro name="gazebo_extensions">
		<gazebo reference="chassis-link">
			<material>Gazebo/Blue</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<gazebo reference="torso_link">
			<material>Gazebo/Silver</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<gazebo reference="face_panel_link">
			<material>Gazebo/Black</material>
			<selfCollide>false</selfCollide>
		</gazebo>

		<gazebo reference="camera_link">
			<selfCollide>false</selfCollide>
			<sensor name="torso_camera" type="camera">
				<always_on>true</always_on>
				<update_rate>20</update_rate>
				<visualize>true</visualize>
				<topic>camera/image_raw</topic>
				<camera>
					<horizontal_fov>1.3962634</horizontal_fov>
					<image>
						<width>640</width>
						<height>480</height>
						<format>R8G8B8</format>
					</image>
					<clip>
						<near>0.05</near>
						<far>20.0</far>
					</clip>
				</camera>
			</sensor>
		</gazebo>

		<gazebo reference="lidar_link">
			<selfCollide>false</selfCollide>
			<sensor name="torso_lidar" type="gpu_lidar">
				<always_on>true</always_on>
				<update_rate>15</update_rate>
				<visualize>true</visualize>
				<topic>scan</topic>
				<ray>
					<scan>
						<horizontal>
							<samples>640</samples>
							<resolution>1</resolution>
							<min_angle>-3.14159</min_angle>
							<max_angle>3.14159</max_angle>
						</horizontal>
						<vertical>
							<samples>1</samples>
							<resolution>0.01</resolution>
							<min_angle>0.0</min_angle>
							<max_angle>0.0</max_angle>
						</vertical>
					</scan>
					<range>
						<min>0.10</min>
						<max>12.0</max>
						<resolution>0.01</resolution>
					</range>
				</ray>
			</sensor>
		</gazebo>
		<gazebo>
			<plugin filename="libgz_ros2_control-system.so"
          		name="gz_ros2_control::GazeboSimROS2ControlPlugin">
				<parameters>$(find ros_sim_robot)/config/diff_drive_controller.yaml</parameters>
			</plugin>
		</gazebo>
		<xacro:gazebo_wheel_surface link_name="front_left_wheel_link"/>
		<xacro:gazebo_wheel_surface link_name="front_right_wheel_link"/>
		<xacro:gazebo_wheel_surface link_name="rear_left_wheel_link"/>
		<xacro:gazebo_wheel_surface link_name="rear_right_wheel_link"/>


	</xacro:macro>

</robot>
